body {
    font-family: Roboto, sans-serif;
    margin: 0px;
}

ul {
    list-style-type: none;
}

.header {
    background-color: #1F2937;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 200px;
    padding-right: 200px;
}

.header-logo {
    font-size: 24px;
    font-weight: bold;
    color: #f9faf8;
}

.header-links {
    font-size: 18px;
    color: #e5e7eb;
    display: flex;
    gap: 24px;
}

.title-section {
    background-color: #1F2937;
    display: flex;
    justify-content: center;
    padding-left: 200px;
    padding-right: 200px;
    padding-top: 100px;
    padding-bottom: 100px;
    gap: 32px;
}

.main-title {
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
}

.subtext {
    font-size: 18px;
    color: #e5e7eb
}

.title-image {
    color: white;
    background-color: grey;
    width: 800px;
    height: 250px;
    text-align: center;
    vertical-align: middle;
    line-height: 250px;
}

.title-left {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.sign-up-button {
    border: 1px solid royalblue;
    background-color: royalblue;
    color: white;
    padding: 10px;
    border-radius: 8px;
    width: 128px;
    font-size: 16px;
    font-weight: bold;
}

