body {
    font-family: Roboto, sans-serif;
    margin: 0px;
}

ul {
    list-style-type: none;
    padding: 0px;
}

.header {
    background-color: #1F2937;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 200px;
    padding-right: 200px;
}

.header-logo {
    font-size: 24px;
    font-weight: bold;
    color: #f9faf8;
}

.header-links {
    font-size: 18px;
    color: #e5e7eb;
    display: flex;
    gap: 24px;
}

.title-section {
    background-color: #1F2937;
    display: flex;
    justify-content: center;
    padding-inline: 200px;
    padding-block: 100px;
    gap: 32px;
}

.main-title {
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
}

.subtext {
    font-size: 18px;
    color: #e5e7eb
}

.title-image {
    color: white;
    background-color: grey;
    width: 800px;
    height: 250px;
    text-align: center;
    vertical-align: middle;
    line-height: 250px;
}

.title-left {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.sign-up-button {
    border: 1px solid #3883f6;
    background-color: #3883f6;
    color: white;
    padding: 10px;
    border-radius: 8px;
    width: 128px;
    font-size: 16px;
    font-weight: bold;
}

.info-title {
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
    text-align: center;
    padding: 48px;
}

.info-image {
    border: 4px solid #3882f6;
    border-radius: 16px;
    width: 150px;
    height: 150px;
}

.info-subtext {
    text-align: center;
}

.info-list {
    display: flex;
    justify-content: space-between;
    padding-inline: 200px;
    padding-bottom: 100px;
}

.info-list-item {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 8px;
}

.quote-section {
    background-color: #e5e7eb;
    padding-block: 200px; 
    padding-inline: 350px;
}

.quote {
    font-size: 36px; 
    font-style: italic;
    font-weight: lighter;
    color: #1F2937
}

.attribution {
    text-align: right;
    font-weight: bold;
    font-size: 24px;
}

.action-section {
    padding-block: 100px; 
    display: flex;
    justify-content: center;
}

.call-action {
    display: flex;
    justify-content: space-around;
    gap: 200px;
    background-color: #3882f6;
    color: white;
    padding-block: 48px;
    padding-inline: 128px;
    border: 1px solid #3882f6;
    border-radius: 16px;
}

.call-title {
    font-size: 24px;
    font-weight: bold;
}

.call-button {
    border: 2px solid white;
    border-radius: 8px;
    background-color: #3882f6;
    color: white;
    font-size: 16px;
    font-weight: bold;
    padding-inline: 32px;
}

.footer {
    background-color: #1F2937;
    color: white;
    text-align: center;
    padding: 48px;
}
